<?php
// Includes processing file.
include('assets/php/manage_login_process.php');

// Checks if the session data for the researcher type is set.
if (!isset($_SESSION['researcherType'])) {
	header("location: login.php");
    exit;
}

// When researcherType is set checks if the researcher accessing this page is a lab manager.
if ($_SESSION['researcherType'] != "Lab Manager") {
	header("location: login.php");
    exit;
}

// Used to update a researcher's login details. Stores id for use to update database.
// Displays current details in the update form textboxes.
if (isset($_GET['edit'])) {
	$id = $_GET['edit'];
	$update = true;

	$stmtRecord = $MYSQL_CONNECTION->prepare("SELECT * FROM login WHERE Login_ID=$id");
	$stmtRecord->execute();
	$record = $stmtRecord->fetchAll();

	if (count($record) == 1) {

		foreach ($record as $key) {
			$name = $key['Username'];
			$Pass = $key['Password'];
			$Reid = $key['Researcher_ID'];
		}
	}
}
?>
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "assets/css/main.css" }}">
</head>

<body>
  {% include navbar.html %}
  {{content}}
  
  <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>
</body>

</html>